wp-admin
wp-includes
.DS_Store
/wp-*.php
/xmlrpc.php
wp-content/languages
wp-content/plugins
wp-content/themes/**
!wp-content/themes/bistro-calme
!wp-content/themes/bistro-calme/**
wp-content/upgrade
wp-content/uploads
wp-content/index.php
.vscode
/index.php
/license.txt
/readme.html